{% extends "registration/base.html"%}

{% block title %}Instructor Sign Up{% endblock %}

{% block content %}
<a href="/registration/instructor_sign_in">Sign In</a>
<form action="/registration/instructor_sign_up/" method="post">
  {% csrf_token %}
  <div>
    <label>
      First Name
      <input type="text" name="first_name" value="{{ first_name }}" required>
    </label>
  </div>
  <div>
    <label>
      Last Name
      <input type="text" name="last_name" value="{{ last_name }}" required>
    </label>
  </div>
  <div>
    <label>
      Email
      {% if email != None %}
      <input type="email" name="email" value="{{ email }}" required>
      {% else %}
      <input type="email" name="email" required>
      {% endif %}
    </label>
    {% if email_in_use %}
    <span style="color: red;">This email is already in use.</span>
    {% endif %}
  </div>
  <div>
    <label>
      Password
      <input type="password" name="password">
    </label>
    {% if password_too_short %}
    <span style="color: red;">Password must be at least 8 characters long.</span>
    {% endif %}
  </div>
  <button>Create Account</button>
</form>
{% endblock %}