{% extends "registration/base.html"%}

{% block title %}Instructor Verification{% endblock %}

{% block content %}
<div class="container">
  <div class="verification underlined">Check your email for a verification code.</div>
  <div class="verification">You MUST verify your account before gaining Instructor Access</div>
  <form action="{% url 'instructor_verification' user_id %}" method="post">
    {% csrf_token %}
    <div class="verification">
      <label>
        Verification Code
        <input type="text" name="verification_code">
      </label>
    </div>
    <div class="verify">
      <button class="verify-button">Verify</button>
    </div>
  </form>
</div>
{% endblock %}